﻿@model IEnumerable<CRUDEmployee_MVC_Core.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Employee CRUD</h1>

<p>
    <a asp-action="Create">New Employee</a>
</p>

<form asp-action="Index" method="get">
    <p>
        <input type="search" placeholder="Enter Employee Name or Email ...." name="empSearch" value="@ViewData["GetEmployeesDetails"]" style="width:500px;"/>
        <input type="submit" value="Search" class="btn btn-primary" /> |
        <a asp-action="Index">Get All Employees</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Empid}, new { @class="btn btn-primary" }) |
                @Html.ActionLink("Details", "Detail", new { id = item.Empid }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Empid }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
