﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="icon" href="~/Content/images/icons/32x32.png" sizes="32x32">
    <link rel="icon" href="~/Content/images/icons/192x192.png" sizes="192x192">
</head>
<body>
    @Html.Partial("~/Views/Shared/_NavBar.cshtml")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; H+ Sport @DateTime.Now.Year</p> *@
            @*Con el metodo de extensión que creamos sería...*@
            @Html.Copyright() |
            Twitter: <a href="https://twitter.com/hplussport" target="_blank"> @@HplusSport </a>
            @Html.Saludo()
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>